<h1>⭐🍃</h1>

<table>
  <tr>
    <th>期限</th>
    <th>内容</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.text %></td>
<tr>
      <td></td>
      <td></td>
      <% if user_signed_in? %>
      <td><%= link_to '詳細', post %></td>
      <td><%= link_to '編集', edit_post_path(post) %></td>
       <td><%= link_to '完了', post_path(post),
                method: :delete, data: { confirm: '🍃タスク完了🍃' } %></td>
 <% end %>
    </tr>

    </tr>
  <% end %>
</table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


</table>
<%= link_to '追加', new_post_path %>


